

<h1>EDIT HERE</h1>
<center>

<form action="/{{up.id}}" method="POST">

    {{!-- <input type="text" placeholder="enter your task"><br><br> --}}
    {{!-- <input type="submit" value="ENTER"> --}}

    <div class="input-group mb-3" class="container">

    <span class="input-group-text" id="basic-addon1">Edit Your Task Here</span>
    <input required type="text" autocomplete="off" class="form-control" placeholder="Task To Do" aria-label="task" aria-describedby="basic-addon1" name="task" value="{{up.task}}">
    
    </div>

    <input type="submit" class="btn btn-primary" value="UPDATE">

</form>

</center>